<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
  <% if @post.header_picture.attached? %>
    <%= image_tag url_for(@post.header_picture.variant(resize: "500x500").processed), class: "image-#{@post.id}" %>

    <%= form_for @post do |f| %>
      <%= f.fields_for :header_picture_attachment_attributes do |header_picture_form| %>
	      <%= header_picture_form.hidden_field :id, value: @post.header_picture_attachment.id %>
      	<%= header_picture_form.hidden_field :_destroy, value: true %>
      <% end %>
      <%= f.submit "Delete header picture" %>
    <% end %>
  <% else %>
    Mo Header Picture
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
