<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<% if @image.attachment.attached? %>
  <%= image_tag url_for(@image.attachment) %>
<% else %>
  No Attachment
<% end %>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
